<div style="font-family: 'Josefin Sans', sans-serif;">
  <div>
  <app-topbar></app-topbar>
</div>
<div class="row " style="background: rgba(87, 199, 184, 0.3); ">
  <div class="col-2 border p-3 mb-2 text-white" font-family=sans-serif font-style= italic 
  style="font-size: 14px">
    <app-sidebar ></app-sidebar>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="border p-3 mb-2 text-white" style="background-color:rgb(24, 106, 126);">
  <app-footer></app-footer>
</div>
</div>
